html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: sans-serif;
}

body {
	display: flex;
	flex-flow: column;
}

#main {
	flex: 1;
	flex-flow: row;
	display: flex;
	overflow: hidden;
	height: 100%;
}

#main > * {
	overflow-y: auto;
}

#programmes {
	max-width: 20em;
	min-width: 20em;
}

#episode {
	flex: 1;
	padding: 1rem;
	box-sizing: border-box;
	min-width: 30em;
}

ul, ol {
	list-style-type: none;
	padding-left: 0;
}

#status {
	height: 2em;
}

#segments {
	flex: 1;
}

