<!doctype html>
<meta charset="utf-8">
<title>Angular Programmes</title>

<link rel="stylesheet" href="demo.css">
<link rel="stylesheet" href="episode.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
<script src="demo.js"></script>

<body ng-app="bbcPlayerApp">
	<div id="programmes" ng-controller="programmesListController">
		<ul>
			<li ng-repeat="programme in programmes"
				ng-click="programmeSelected(programme);">{{programme.title}}</a>
		</ul>
	</div>

	<div id="episode" ng-controller="episodeController">
		<article itemscope itemtype="http://schema.org/Episode">
			<div itemprop="name">{{ episode.display_title.title }}</div>
			<div>{{ episode.display_title.subtitle }}</div>


			<ol itemprop="playlist" itemscope itemtype="http://schema.org/MusicPlaylist">
				<li itemprop="track" itemscope itemtype="http://schema.org/MusicRecording"
					ng-repeat="segment_event in version.segment_events">
					<div>
						<button ng-click="trackSelected(segment_event.segment)">&#9654;</button>
						<span itemprop="name">{{ segment_event.segment.title }}</span>
					</div>

					<div itemprop="byArtist">{{ segment_event.segment.artist }}</div>
				</li>
			</ol>
		</article>
	</div>

	<div id="track" ng-controller="trackController">
		<iframe ng-src="{{ src }}"></iframe>
	</div>
</body>
